@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.about {
  font-family: 'Libre Baskerville', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color:#212121;
}

.english,
.spanish {
  background-color:#212121;
  color: white;
  text-align: justify;
  padding: 2%;
  border: 1px solid #212121;
  box-shadow: 0 4px 8px #f53500;
  border-radius: 10px;
  margin: 2%;
}

.english h2,
.spanish h2 {
  margin-left: 40%;
}

/* Media Queries */
@media (max-width: 600px) {

    .about{
        margin-top: 14rem;
    }

  .english h2,
  .spanish h2 {
    margin-left: 10px;
    text-align: center;
  }
}

/* .certificate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 250px;
  max-height: 200px;
  margin-left: 40%;
} */