.projectsContainer {
  max-width: 100%;
  padding: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-content: space-between;
  font-weight: lighter;
}

.projectsItems {
  position: relative;
  margin: 1%;
  padding: 6rem;
  background-color: #212121;
  color: white;
  border: 1px solid #212121;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  font-weight: lighter;
}

.projectsItems.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212121;
}

.back p {
  width: 45rem;
  font-size: smaller;
  background-color: #212121;
  border-radius: 12px;
  box-shadow: 0 4px 8px #f53500;
  font-weight: lighter;
}

.img {
  max-width: 190px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
  }
  
  .projectsItems {
    width: 100%;
    padding: 0.5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-right: 10rem;
  }

  .projectsContainer {
    font-size: 0.68rem;
  }
}