.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80vw;
  }

  .carouselButton  {
    background-color: transparent;
    color: #08B5FF;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    max-height: fit-content;
    border: none;  
  }
  
  .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .items {
    background-color: #045A80;
    text-decoration: none;
    list-style: none;
    border: 1px solid #08B5FF;
    border-radius: 8px;
    box-shadow: 0 4px 8px #08B5FF;
    /* color: white; */

    margin: 1rem;
    width: 8rem;
    height: 8rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  /* Media Query */
  @media (max-width: 600px) {
    .skills {
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-right: 8%;
    }
  
    .list {
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  
    .items {
    margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.2rem;
      padding: 0.3rem;
      font-size: 0.7rem;
    }
  }