.skills-section {
  padding: 60px 20px;
  background-color: #121212;
  text-align: center;
}

.skills-section h2 {
  font-size: 2.5em;
  color: #00BFFF;
  margin-bottom: 20px;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-content: center;
}

.skills-list li {
  font-size: 1.2em;
  color: #fff;
  background-color: #1e1e1e;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.skills-list li svg {
  font-size: 1.5em;
}

.skills-list li:hover {
  transform: translateY(-5px);
  background-color: #00BFFF;
  color: #121212;
}

@media (max-width: 480px) {
  .skills-section h2 {
    margin-top: 5%;
    font-size: 2rem; /* Reducción del tamaño del texto del título */
  }

  .skills-list {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Reducir el tamaño mínimo de las columnas */
    gap: 10px; /* Reducir el espacio entre ítems */
  }

  .skills-list li {
    font-size: 1em; /* Reducir el tamaño de la fuente */
    padding: 10px; /* Reducir el padding para una mejor adaptación en pantallas pequeñas */
  }

  .skills-list li svg {
    font-size: 1.2em; /* Reducir el tamaño de los íconos */
  }
}