@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.home {
    font-family: 'Acme', sans-serif;    
    text-align: center;
    /* background-color:#212121; */
    background-color: #BDBEBF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #212121;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.fullstack{
    color: #f53500;
}

/* Estilos generales */
body {
    scrollbar-width: thin;
    scrollbar-color: #BDBEBF #f53500;
}

/* Estilos para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #BDBEBF;
}

::-webkit-scrollbar-thumb {
    background-color: #f53500;
    border-radius: 8px;
}