@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

.home {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    background-color:#212121;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    scrollbar-width: thin;
    scrollbar-color: #00173B #f53500;
}

/* Estilos para WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #00173B;
}

::-webkit-scrollbar-thumb {
    background-color: #f53500;
    border-radius: 8px;
}