/* About.module.css */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.about {
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  flex-direction: column; 
  width: 90%;
  background-color: transparent;
  text-align: justify;
  padding-left: 5%;
}

