.hero-section {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12%;
    background: none;
    color: #ffffff;
    text-align: center;
    height: 100vh; 
}

.hero-content {
    max-width: 80%;
    margin: 0 auto; 
}

.hero-content h1 {
    font-size: 4rem; 
    margin: 0;
    font-weight: 700;
    line-height: 1.2;
}

.highlight {
    color: #00BFFF;
}

.icon-container {
    align-self: center;
    margin-left: 1rem; 
}

.icon {
    height: auto; 
    width: 250px;
    object-fit: cover;
}

.hero-content h2 {
    font-size: 2rem;
    margin: 2rem 0 0;
    font-weight: 400;
    color: #dcdcdc;
}

.scroll-icon {
    margin-top: 2rem;
    animation: bounce 2s infinite;
}

.pdf button {
    margin-top: 1%;
    cursor: pointer;
    color: #00BFFF;
    background-color: #1e1e1e;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 0.7rem;
    font-weight: 760;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pdf button:hover {
    color: #1e1e1e;
    background-color: #00BFFF; 
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .hero-section {
        padding-top: 20%;
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content h2 {
        font-size: 1.2rem;
    }
}