@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.contact{
    font-family: 'Acme', sans-serif;    
    display: flex;
    flex-direction: column;
    width: 90vw;
    align-items: center;
    background-color:transparent;
}

.contact h1{
    color: #212121;
}

.contact a {
    text-decoration: none;
    color: white;
}

.description{
    padding: 2%;
    border: 1px solid #212121;
    border-radius: 10px;
    background-color: #212121;
    box-shadow: 0 4px 8px #f53500;
    color: white;
}

.photo{
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: 200px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    
}

.socialMedia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
}

.linked{
    background-color: #26528C;
    width: 25%;
    padding: 1%;
    margin: 1rem;
    border: 1px solid #26528C;
    border-radius: 10px;
    cursor: pointer;
}

.github{
    background-color: grey;
    width: 25%;
    padding: 1%;
    margin: 1rem;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

.gmail{
    background-color: #BF3B3B;
    width: 25%;
    padding: 1%;
    margin: 1rem;
    border: 1px solid #BF3B3B;
    border-radius: 10px;
    cursor: pointer;
}