.navbar {
  display: flex;
  width: 98%;
  padding: 1%;
  background-color: none;
  color: #fff;
}

.logo {
  align-items: flex-start;
  font-size: 38px;
  cursor: pointer;
}

.photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1%;
}

.navItems {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
  margin-left: auto;
  width: 45%;
}

.navItems div {
  margin: 1%;
  font-size: 28px;
  cursor: pointer;
  position: relative; 
}

.navItems div:hover {
  text-decoration: underline;
}

.navItems div::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #08B5FF; 
  transition: width 0.3s;
}

.navItems div:hover::after {
  width: 100%;
}