/* Navbar Container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1e1e1e;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Hero Image */
.hero-image img {
  border-radius: 50%;
  max-width: 65px;
}

/* Navbar Links */
.navbar ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding-right: 25%;
  flex-grow: 1;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bolder;
}

.navbar a:hover {
  color: #00BFFF;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.hamburger .bar {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.hamburger .bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger .bar.open:nth-child(2) {
  opacity: 0;
}

.hamburger .bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 25vw;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: right 0.3s ease;
  z-index: 1000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar li {
  list-style: none;
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #00BFFF;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 15px;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #00BFFF;
}

.sidebar.open {
  right: 0;
  margin: 1%;
  border-radius: 5px;
  height: 90vh;
}

@media (max-width: 480px) {
  .hamburger {
    display: flex;
    margin-right: 30px; 
  }

  .navbar {
    display: none;
  }
}