.experience-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin: 1%;
}

.experience-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-1px);
  width: 2px;
  height: 100%;
  background-color: #00BFFF;
}

.experience-section h2 {
  text-align: center;
  font-size: 2.5em;
  color: #00BFFF;
  margin-bottom: 20px;
}

.experience-description li,
.project-features ul li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 0.8em;
}

.experience-header {
  display: flex;
  align-items: center;
  gap: 6px; 
  margin-top: 2%;
  margin-bottom: 2%;
}

.experience-date {
  display: flex;
  align-items: center;
  gap: 6px; 
  margin-top: 2%;
  margin-bottom: 2%;
}

.experience-item {
  position: relative;
  width: 45%;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.experience-item::before {
  content: '';
  position: absolute;
  top: 25px;
  width: 12px;
  height: 12px;
  background-color: #00BFFF;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

.experience-item:nth-child(odd) {
  align-self: flex-start;
  margin-left: 0;
}

.experience-item:nth-child(odd)::before {
  left: 100%;
  margin-left: 10px;
}

.experience-item:nth-child(even) {
  align-self: flex-end;
  margin-right: 0;
}

.experience-item:nth-child(even)::before {
  right: 100%;
  margin-right: 10px;
}

.experience-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .experience-section h2 {
    font-size: 1.2rem;
  }

  .experience-item {
    width: 90%;
    align-self: center !important;
  }

  .experience-item::before {
    left: -15px !important;
    right: auto !important;
    margin: 0 !important;
  }

  .experience-container::before {
    left: 15px;
    transform: none;
  }

  .experience-card h3 {
    font-size: 1em;
  }

  .experience-card p {
    font-size: 0.8em;
  }

  .experience-card li {
    font-size: 0.5rem;
  }

  .experience-icon {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 480px) {
  .experience-section h2 {
    font-size: 1.2rem;
  }

  .experience-card h3 {
    font-size: 1rem;
  }

  .experience-card p {
    font-size: 0.6rem;
  }

  .experience-card li {
    font-size: 0.5rem;
  }

  .experience-icon {
    font-size: 1.2rem !important;
  }
}
