.experience-section {
  padding: 60px 20px;
  background-color: #121212;
  text-align: center;
}

.experience-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.experience-section h2 {
  font-size: 2.5em;
  color: #00BFFF;
  margin-bottom: 20px;
}

.experience-item {
  background-color: #1e1e1e; 
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.experience-item:hover {
  transform: translateY(-10px); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.experience-header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: left;
}

.experience-icon {
  color: #00BFFF;
  font-size: 2em;
  margin-right: 15px;
}

.experience-details {
  flex-grow: 1;
  text-align: left;
}

.experience-details h3 {
  font-size: 1.8em;
  color: #fff;
  margin: 0;
}

.experience-details p {
  font-size: 1.2rem;
  color: #ccc;
}

.experience-date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  color: #888;
  margin-left: auto;
  text-align: right;
}

.calendar-icon {
  color: #ccc;
  margin-right: 5px;
}

.experience-description {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  text-align: left;
}

.experience-description li {
  font-size: 1em;
  color: #bbb;
  margin: 10px 0;
  transition: color 0.3s ease;
}

.experience-description li:hover {
  color: #00BFFF;
}

@media (min-width: 768px) and (max-width: 1020px) {
  .experience-item {
    margin: 0 auto 40px auto;
  }

  .experience-item h3{
    font-size: 1.2rem;
  }
  .experience-item p{
    font-size: 0.8rem;
  }
  .experience-item li{
    font-size: 0.8rem;
  }
}

@media (max-width: 768px){
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-section h2 {
    font-size: 1.5rem;
  }

  .experience-details h3 {
    font-size: 1rem;
  }
  
  .experience-details p,
  .experience-date p {
    font-size: 0.8rem;
  }

  .experience-description li {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .experience-container {
    grid-template-columns: 1fr;
  }

  .experience-section h2 {
    font-size: 1.5rem;
  }
  
  .experience-details h3 {
    font-size: 0.8rem;
  }
  
  .experience-details p,
  .experience-date p {
    font-size: 0.5rem;
  }
  
  .experience-description li {
    font-size: 0.6rem;
  }
}