.container{
    display: grid;
    /* grid-template-rows: repeat(4, 1fr); */
    width: 96%;
}

.gridItem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 2%;
}

.gridItem img{
    width: 25rem;
    height: auto;
    border-radius: 5px;
    bottom: 0;
}

.gridItem p{
    font-size: 22px;
    margin: 0;
}
